{% extends 'base.html' %}
{% load bootstrap5%}
{% load static %}

{% block content %}
    <section id="doctors">
        <div class="container mt-3 py-5 text-center">
            <div class="row mb-5">
                <div class="row mb-5">
                    <div class="col">
                        <h1>Our Doctors</h1>
                        <p>We believe in quality services,which is why we have the best.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                            {% comment %} {% for doctor in doctors %}

                                <h3>{{doctor.user}}</h3>
                                <h5>{{doctor.specialization_area}}</h5>
                                <p>{{doctor.bio}}</p>

                            {% endfor %} {% endcomment %}
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

