{% extends 'base.html' %}
{% block content %}

<div class="container h-100 d-flex flex-column justify-content-center align-items-center bg-light ">
    <form method="post">
        {%csrf_token%}
        {% for field in form %}
        <div class="form-row mb-3">
            <label  class="form-label">{{ field.label }}</label>
            
            {{ field }}
        </div>
        {% endfor %}
        <div class="w-100 d-flex justify-content-center my-4">
            <input type="submit" class="btn btn-primary btn-lg w-100  " value="Make a new appointment">
        </div>
    </form>

</div>
{% endblock  %}