{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container rounded mt-3 sidebar d-flex flex-column">
    <div class="mx-4 mt-3 mb-4">
        <p class="lead bold-2">Welcome ... </p>
    </div>
    <!-- The display -->
    <div class="d-flex justify-content-around mb-5">
        <div class="bg-white d-flex align-items-center rounded px-5 py-3 m-3">
            <div class="mx-2">
                <img src="{% static 'patient.svg'%}" alt="" class="img-thumbnail img-1">
            </div>
            <div>
                <p>
                    Patients
                </p>
                <p class="bold-1">
                    {{patients}}
                </p>
            </div>
        </div>
        <div class="bg-white d-flex align-items-center rounded  px-5 py-3 m-3">
            <div class="mx-2">
                <img src="{% static 'hospital.svg'%}" alt="" class="img-thumbnail img-2">
            </div>
            <div>
                <p>
                    Doctors
                </p>
                <p class="bold-1">
                    {{doctors}}
                </p>
            </div>
        </div>
        <div class="bg-white d-flex align-items-center rounded px-5 py-3  m-3">
            <div class="mx-2">
                <img src="{% static 'beds.svg'%}" alt="" class="img-thumbnail img-3">
            </div>
            <div>
                <p>
                    Beds
                </p>
                <p class="bold-1">
                    250
                </p>
            </div>
        </div>
        <div class="bg-white d-flex align-items-center rounded  px-5 py-3 m-3">
            <div class="mx-2">
                <img src="{% static 'services.svg'%}" alt="" class="img-thumbnail img-4">
            </div>
            <div>
                <p>
                    Appointments
                </p>
                <p class="bold-1">
                    {{appointment_count}}
                </p>
            </div>
        </div>
    </div>
    <div class="mx-4 mt-5 mb-1">
        <p class="lead bold-2">Recent Patient Activity</p>
    </div>

    <div class="d-flex justify-content-center">
        <div class="bg-white mt-5 rounded p-5 w-75 ">
            <div class="table-responsive">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Patient's Name</th>
                            <th scope="col">Doctor's Name</th>
                            <th scope="col">Time of Appointment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app in  appointments %}
                        <tr>
                            <td>{{app.users}}</td>
                            <td>{{app.doctor}}</td>
                            <td>{{app.date_appointment}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}