{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="">
  <div class="container" id="doctor">
    <div class ="heading mt-2">Add Doctor</div>
    <div class="row">
      <!-- Empty div -->

      <div class="col-md-3 phone-section">
      </div>

      <div class="col-md-6 form-section">
        {{form.media}}

      {% if form.errors %}
          <p>Please enter correct value</p>
        {% endif %}

        <div class="panel panel-default" style="margin-top:15px;">

          <div class="panel-body">

            <div class="text-center">
            <form action="{% url 'new-doctor' %}" method="post" enctype="multipart/form-data">

              {% csrf_token%}
              {% bootstrap_form form %}

              <div class="form-group mt-2">
                <input type="submit" class="btn btn-success login-button" value="Add">
              </div>
              <input type="hidden" name="next" value="/">
            </form>
          </div>
          </div>

        </div>

      </div>
      <!-- Empty div -->
      <div class="col-md-4"></div>
    </div>

  </div>
</div>

<style>
  #doctor{
    max-width: 700px;
    margin-left: 270px;
    height:90vh;
    width: 100%;
    border-radius: 25px;
    background:rgb(227, 225, 225)
}
  .heading{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    text-align: center;
    padding: 0 0 15px 0;
}
.heading::before{
    content: '';
    position:absolute;
    height: 3px;
    left: 0px;
    bottom: 0;
    width:100%;
    background-color:rosybrown
}


</style>


{% endblock %}